images:
  repository: cr.yandex/crp3jobplbvsk8su8pgq
  tag: ''
serviceAccounts:
  create: true
  annotations: {}
  annotationsOnlyForCartservice: false
networkPolicies:
  create: false
sidecars:
  create: false
authorizationPolicies:
  create: false
opentelemetryCollector:
  server: jaeger-collector.infra:4317
  create: true
googleCloudOperations:
  profiler: false
  tracing: false
  metrics: false
seccompProfile:
  enable: false
  type: RuntimeDefault
adService:
  create: false
  name: adservice
  resources:
    requests:
      cpu: 200m
      memory: 180Mi
    limits:
      cpu: 300m
      memory: 300Mi
cartService:
  create: true
  name: cartservice
  images:
    name: boutique-cartservice
    tag: 0f5f21d5c8c4764d874eae097bd147de5b8e5e1d
  resources:
    requests:
      cpu: 200m
      memory: 64Mi
    limits:
      cpu: 300m
      memory: 128Mi
checkoutService:
  create: true
  images:
    name: boutique-checkoutservice
    tag: 629b8e3b92c36acd9add4f4068b42f332ac75386
  name: checkoutservice
  resources:
    requests:
      cpu: 100m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 128Mi
currencyService:
  images:
    name: boutique-currencyservice
    tag: 8aa4fcd9cec44475ba8cda874f81027cd294e02c
  create: true
  name: currencyservice
  resources:
    requests:
      cpu: 100m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 128Mi
emailService:
  images:
    name: boutique-emailservice
    tag: 25c19fbdffccb7d30931bf57de20ab89d9f760a3
  create: true
  name: emailservice
  resources:
    requests:
      cpu: 100m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 128Mi
frontend:
  images:
    name: boutique-frontend
    tag: e33e6ca44f9123125d2eb2f29d8d00206dd3a880
  create: true
  name: frontend
  externalService: false
  cymbalBranding: false
  platform: local
  singleSharedSession: false
  ingress:
    create: true
    host: stage.evgsh.space
  virtualService:
    create: false
  resources:
    requests:
      cpu: 100m
      memory: 64Mi
    limits:
      cpu: 150m
      memory: 128Mi
loadGenerator:
  create: true
  images:
    name: boutique-loadgenerator
    tag: 8e9fb800dd06853623b08ae69dfd8408c5e295ed
  name: loadgenerator
  checkFrontendInitContainer: true
  resources:
    requests:
      cpu: 300m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
paymentService:
  create: true
  images:
    name: boutique-paymentservice
    tag: v4
  name: paymentservice
  resources:
    requests:
      cpu: 100m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 128Mi
productCatalogService:
  create: true
  name: productcatalogservice
  images:
    name: boutique-productcatalogservice
    tag: 306cf1f3d904740cbf239cdd7d2a1f28368f5e24
  extraLatency: ''
  resources:
    requests:
      cpu: 100m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 128Mi
recommendationService:
  create: true
  images:
    name: boutique-recommendationservice
    tag: 61dd9159d6f95fe703c06c1ac88c0080dadd2f29
  name: recommendationservice
  resources:
    requests:
      cpu: 100m
      memory: 220Mi
    limits:
      cpu: 200m
      memory: 450Mi
shippingService:
  images:
    name: boutique-shippingservice
    tag: dedef284d002bfd37d95a27526ec79b4cd55035c
  create: true
  name: shippingservice
  resources:
    requests:
      cpu: 100m
      memory: 64Mi
    limits:
      cpu: 150m
      memory: 128Mi
cartDatabase:
  type: redis
  connectionString: redis-cart:6379
  inClusterRedis:
    create: true
    name: redis-cart
    publicRepository: true
  externalRedisTlsOrigination:
    enable: false
    name: exernal-redis-tls-origination
    endpointAddress: ''
    endpointPort: ''
    certificate: ''
shoppingAssistantService:
  create: false
  name: shoppingassistantservice
shippingservice:
  images:
    tag: v1
