name: Deploy service on prod
run-name: ${{ github.actor }}
permissions: write-all
on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      JOBID:
        required: true
        type: string
      context:
        type: string
        default: .
      GITHUBSHA:
        required: true
        type: string
    secrets:
      YC_SA_JSON_CREDENTIALS:
        required: true
      REPO_NAME:
        required: true
      MYGITHUB_TOKEN:
        required: true

jobs:
  deploy_prod:
    runs-on: ubuntu-latest
    needs: buildandpush
    steps:
      - uses: actions/checkout@v4
        with:
          repository: evgsh123/otusproject-apps-cd
      - uses: fjogeleit/yaml-update-action@main
        name: Update Image Version in the related HelmChart values.yaml
        with:
          repository: 'evgsh123/otusproject-apps-cd'
          valueFile: 'helm-chart/values.prod.yaml'
          propertyPath: "${{ inputs.name }}.images.tag"
          value: "${{ inputs.GITHUBSHA }}"
          branch: main
          createPR: false
          force: true
          commitUserName: bot
          token: ${{ secrets.MYGITHUB_TOKEN }}
          message: 'Update Image Version ${{ github.event.repository.name }} to ${{ inputs.GITHUBSHA }} on prod'
