name: Build and deploy service
run-name: ${{ github.actor }}
permissions: write-all
on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      JOBID:
        required: true
        type: string
      context:
        type: string
        default: .
    secrets:
      YC_SA_JSON_CREDENTIALS:
        required: true
      REPO_NAME:
        required: true
      MYGITHUB_TOKEN:
        required: true

jobs:
  buildandpush:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        name: Check out code
      - name: Login to Yandex Cloud Container Registry
        uses: yc-actions/yc-cr-login@v2
        with:
           yc-sa-json-credentials: ${{ secrets.YC_SA_JSON_CREDENTIALS }}
      - uses: ASzc/change-string-case-action@v6
        id: lowcase
        with:
          string: "${{ inputs.name }}"
      - uses: docker/build-push-action@v6
        name: Build & push Docker image
        with:
          context: "${{ inputs.context }}"
          push: true
          tags: "${{ secrets.REPO_NAME }}/boutique-${{ steps.lowcase.outputs.lowercase }}:v${{ inputs.JOBID }}"

  deploy_stage:
    runs-on: ubuntu-latest
    needs: buildandpush
    steps:
      - uses: actions/checkout@v4
        with:
          repository: evgsh123/otusproject-apps-cd
      - uses: fjogeleit/yaml-update-action@main
        name: Update Image Version in the related HelmChart values.yaml
        with:
          repository: 'evgsh123/otusproject-apps-cd'
          valueFile: 'helm-chart/values.stage.yaml'
          propertyPath: "${{ inputs.name }}.images.tag"
          value: "v${{ github.run_number }}"
          branch: main
          createPR: false
          force: true
          commitUserName: bot
          token: ${{ secrets.MYGITHUB_TOKEN }}
          message: 'Update Image Version frontend to ${{  github.run_number  }}'
